body{
background-color:grey;
} 

#conteneur{
width:398px;
height : 300px;
border : 1px solid;
margin: 0 auto;
background:white;
text-align:center;

}

h1{
text-align:center;
color:white;
} 